# Session 2: Data Cleaning and Preprocessing

**Data Science with Python - 2025 Edition**

---

## 🎯 Learning Objectives
By the end of this session, you will be able to:
- Remove uncertainty values and handle missing data
- Detect and handle outliers effectively
- Fix inconsistent data formats and standardize entries
- Remove duplicates and correct data entry errors
- Handle categorical inconsistencies
- Resolve data type mismatches
- Standardize units and scales
- Filter irrelevant or noisy data

---

## 📚 Why Data Cleaning Matters

**"Garbage in, garbage out"** - This famous saying perfectly captures why data cleaning is crucial in data science.

- Real-world data is **messy** and **incomplete**
- Poor data quality leads to **incorrect insights**
- Data cleaning can take **60-80%** of a data scientist's time
- Clean data = **Better models** and **Reliable results**

## 🛠️ Import Required Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

"Libraries imported successfully! We are ready to clean our data!"

## 📊 Create Sample Messy Dataset

Let's create a realistic messy dataset that contains all the common data quality issues we'll address:

In [1]:
# Create a simple messy dataset
data = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 1],  # Duplicate ID at the end
    'name': ['John', 'jane', 'ALICE', 'Bob', '?', 'Diana', 'Eve', 'Frank', 'John'],
    'age': [25, 30, '?', 35, -999, 28, 45, 150, 25],
    'gender': ['Male', 'female', 'F', 'M', '?', 'Female', 'M', 'F', 'Male'],
    'salary': [50000, 60000, 75000, None, 80000, 55000, 9999999, 45000, 50000],
    'department': ['IT', 'hr', 'Finance', 'IT', 'Marketing', 'HR', 'finance', 'it', 'IT']
}

# Create DataFrame
df = pd.DataFrame(data)

print("Created messy dataset with these problems:")
print("- Question marks (?) for missing values")
print("- -999 as placeholder for missing age") 
print("- Different case letters (john, ALICE)")
print("- Very high salary (9999999)")
print("- Very high age (150)")
print("- Duplicate rows")

df

NameError: name 'pd' is not defined

## 🔍 Initial Data Exploration

Before cleaning, let's understand what we're working with:

In [ ]:
# Let's look at our data
print("Dataset shape (rows, columns):", df.shape)
print("Data types:")
df.dtypes

## 🧹 Step 1: Uncertainty Removal

First, let's identify and handle uncertainty values like '?', 'unknown', and placeholder values like '-999':

In [ ]:
# Check for uncertainty values like '?' and -999
print("Names with '?':", (df['name'] == '?').sum())
print("Ages with '?':", (df['age'] == '?').sum()) 
print("Genders with '?':", (df['gender'] == '?').sum())
print("Ages with -999:", (df['age'] == -999).sum())

# Show rows with problems
df[df['age'] == -999]

In [ ]:
# Make a copy of our data to clean
df_clean = df.copy()

# Replace '?' with missing values (NaN)
df_clean = df_clean.replace('?', np.nan)

# Replace -999 with missing values
df_clean = df_clean.replace(-999, np.nan)

print("After removing uncertainty values:")
df_clean.isnull().sum()

## 🕳️ Step 2: Treating Missing Values

Now let's handle the missing values using appropriate strategies:

In [ ]:
# Count missing values
df_clean.isnull().sum()

In [ ]:
# Fill missing names with 'Unknown'
df_clean['name'] = df_clean['name'].fillna('Unknown')

# Convert age to numbers first
df_clean['age'] = pd.to_numeric(df_clean['age'], errors='coerce')

# Fill missing ages with the average age
average_age = df_clean['age'].mean()
df_clean['age'] = df_clean['age'].fillna(average_age)

# Fill missing salaries with the average salary
average_salary = df_clean['salary'].mean()
df_clean['salary'] = df_clean['salary'].fillna(average_salary)

df_clean

## 📊 Step 3: Handling Outliers

Let's identify and handle outliers in numerical columns:

In [ ]:
# Look for unrealistic ages
df_clean['age'].value_counts().sort_index()

In [ ]:
# Fix unrealistic ages (over 100 becomes average age)
average_age = df_clean['age'].mean()
df_clean.loc[df_clean['age'] > 100, 'age'] = average_age

# Fix unrealistic salaries (over 500,000 becomes average salary)
average_salary = df_clean['salary'].mean()
df_clean.loc[df_clean['salary'] > 500000, 'salary'] = average_salary

df_clean

## 📅 Step 4: Fixing Text Cases

Let's make sure names and departments have consistent formatting:

## 🔄 Step 5: Removing Duplicate Entries

Let's identify and handle duplicate records:

In [ ]:
# Check for duplicates
print("Total rows:", len(df_clean))
print("Duplicate rows:", df_clean.duplicated().sum())
print("Duplicate IDs:", df_clean['id'].duplicated().sum())

# Show duplicate rows
df_clean[df_clean.duplicated(keep=False)].sort_values('id')

In [ ]:
# Remove duplicate rows (keep the first one)
before_count = len(df_clean)
df_clean = df_clean.drop_duplicates()
after_count = len(df_clean)

print("Removed", before_count - after_count, "duplicate rows")

# Make names look nice (Title Case)
df_clean['name'] = df_clean['name'].str.title()

df_clean

## ✏️ Step 6: Correcting Data Entry Errors

Let's identify and fix common data entry errors:

In [ ]:
# Check for reasonable age range (18 to 80)
weird_ages = df_clean[(df_clean['age'] < 18) | (df_clean['age'] > 80)]
print("Ages outside normal range (18-80):", len(weird_ages))

# Check for reasonable salary range  
weird_salaries = df_clean[(df_clean['salary'] < 20000) | (df_clean['salary'] > 200000)]
print("Salaries outside normal range (20,000 - 200,000):", len(weird_salaries))

weird_salaries if len(weird_salaries) > 0 else "All salaries look good!"

## 🏷️ Step 7: Dealing with Categorical Inconsistencies

Let's standardize categorical variables:

In [ ]:
# Look at gender values
df_clean['gender'].value_counts()

In [ ]:
# Make gender values consistent
df_clean['gender'] = df_clean['gender'].replace('F', 'Female')
df_clean['gender'] = df_clean['gender'].replace('M', 'Male')
df_clean['gender'] = df_clean['gender'].replace('female', 'Female')

# Make department names consistent (proper case)
df_clean['department'] = df_clean['department'].replace('hr', 'HR')
df_clean['department'] = df_clean['department'].replace('it', 'IT')
df_clean['department'] = df_clean['department'].replace('finance', 'Finance')

df_clean['department'].value_counts()

## 🔢 Step 8: Resolving Data Type Mismatches

Let's ensure all columns have the correct data types:

In [ ]:
# Convert age to whole numbers
df_clean['age'] = df_clean['age'].round().astype(int)

# Convert salary to whole numbers  
df_clean['salary'] = df_clean['salary'].round().astype(int)

df_clean.dtypes

## 🔍 Step 9: Final Check

Let's make sure our data looks good:

In [ ]:
# Final check of our clean data
print("Shape:", df_clean.shape)
print("Missing values:", df_clean.isnull().sum().sum())
print("Age range:", df_clean['age'].min(), "to", df_clean['age'].max())
print("Salary range: $", df_clean['salary'].min(), "to $", df_clean['salary'].max())

df_clean

## 📊 Before vs After Comparison

Let's see how much we improved our data:

In [ ]:
# Compare original vs cleaned data
print("BEFORE CLEANING:")
print("Shape:", df.shape)
print("Missing values:", df.isnull().sum().sum())
print("Data types:", list(df.dtypes))
print()

print("AFTER CLEANING:")
print("Shape:", df_clean.shape)  
print("Missing values:", df_clean.isnull().sum().sum())
print("Data types:", list(df_clean.dtypes))
print()

print("IMPROVEMENTS MADE:")
print("✓ Removed uncertainty values (?, -999)")
print("✓ Filled missing values with averages")
print("✓ Fixed unrealistic ages and salaries") 
print("✓ Removed duplicate rows")
print("✓ Standardized text formats")
print("✓ Made gender and department names consistent")
print("✓ Converted to proper data types")

## 💾 Save Cleaned Dataset

Let's save our cleaned dataset for future use:

In [ ]:
# Save our clean data
df_clean.to_csv('clean_employee_data.csv', index=False)

"✅ Saved clean data to 'clean_employee_data.csv' - Ready for analysis!"

## 🎓 What We Learned

### Data Cleaning Steps We Did:
1. ✅ **Found Problem Values**: Looked for '?', -999, and missing data
2. ✅ **Fixed Missing Values**: Replaced with averages or 'Unknown'
3. ✅ **Fixed Unrealistic Values**: Changed very high ages and salaries
4. ✅ **Removed Duplicates**: Kept only unique rows
5. ✅ **Fixed Text Formatting**: Made names and departments consistent
6. ✅ **Standardized Categories**: Made M/F into Male/Female
7. ✅ **Fixed Data Types**: Made sure numbers are numbers

### Why Data Cleaning is Important:
- **Real data is messy** - it has errors and missing pieces
- **Clean data = better results** - your analysis will be more accurate
- **It takes time** - but it's worth it!

### Remember:
- Always look at your data first
- Make a copy before cleaning
- Check your work at each step
- Document what you did

### What's Next:
- Now we can analyze our clean data
- Make charts and graphs
- Find patterns and insights
- Build models

**Great job! You've learned the basics of data cleaning! ?**